.horizontal-line {
	position: relative;
  border-bottom: 1px solid white; /* Or any other color you want */
  margin-bottom: 20px; /* Adjust as needed */
}

.text-inside-line {
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white; /* Optional - to make the text stand out */
  padding: 0 10px; /* Optional - adjust as needed for padding */
	color: #fff
}